.navItem {
    color: #F2F2F3;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    color: #F2F2F3;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
