.tabs {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    width: 600px;
}

.title {
    width: 100%;
}

.scrollCont {
    width: 100%;
    height: calc(100vh - 308px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-between;
}
