.tabs {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    width: 600px;
}

.type {

}

.title {
    width: 100%;
}

.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-between;
}
